<% content_for :head do %>
  <%= javascript_include_tag "playground/app" %>

  <%= stylesheet_link_tag "playground" %>
  <%= stylesheet_link_tag "codemirror" %>
<% end %>

<%#<p>Welcome to the Ember.js Handlebars playground! Here, you can%>
<%#easily experiment with all of the templating tools Ember.js makes%>
<%#available to you.</p>%>

<%#<p>To begin, select from a sample controller on the right. Your template%>
<%#will be bound to the controller you select. Then, start typing %>

<script type="text/x-handlebars">
  {{#view App.Panels}}
    {{#view App.Panel}}
    <a {{action showController}}>Controller</a>
    <a {{action showTemplate}}>Template</a>

      {{#view App.TabView name="controller"}}
        Controller
      {{/view}}

      {{#view App.TabView name="template"}}
        {{view App.CodeMirrorView valueBinding="input"}}
      {{/view}}

    {{/view}}

    {{view App.ResizeThumb}}

    {{#view App.Panel}}
      <p>Output</p>
      {{#if error}}
        <div style="color: red; font-family: monospace">
          {{{error}}}
        </div>
      {{/if}}
      <iframe id="playground-iframe"></iframe>
    {{/view}}
  {{/view}}
</script>
