#content-wrapper {
  position: absolute;
  background: rgba(255,255,255,0.8);
  width: 100%;
  margin: 0;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}

#footer {
  display: none;
}

.panels {
  border: 1px solid green;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.panel {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 30px;
}

.resizer {
  background-color: grey;
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
}
